In [12]:
# Pivot

from pandas import DataFrame
import pandas as pd

data = [
    ['2021-08-12', '삼성전자', 77000],
    ['2021-08-13', '삼성전자', 74400],
    ['2021-08-12', 'LG전자', 153000],
    ['2021-08-13', 'LG전자', 150500],
    ['2021-08-12', 'SK하이닉스', 100500],
    ['2021-08-13', 'SK하이닉스', 101500]
]

columns = ['날짜', '종목명', '종가']
df = DataFrame(data = data, columns = columns)
print(df) 
pd.pivot(data = df, index = '날짜', columns = '종목명', values = '종가') # df의 날짜 = index, 종목명 = 컬럼, 종가 = 값
df.groupby(['날짜', '종목명']).mean().unstack() # 윗줄과 똑같은 결과 
pd.pivot(data = df, index = '종목명', columns = '날짜', values = '종가')

           날짜     종목명      종가
0  2021-08-12    삼성전자   77000
1  2021-08-13    삼성전자   74400
2  2021-08-12    LG전자  153000
3  2021-08-13    LG전자  150500
4  2021-08-12  SK하이닉스  100500
5  2021-08-13  SK하이닉스  101500

날짜      2021-08-12  2021-08-13
종목명
LG전자        153000      150500
SK하이닉스      100500      101500
삼성전자         77000       74400