In [12]:
# Pivot

from pandas import DataFrame
import pandas as pd

data = [
    ['2021-08-12', '삼성전자', 77000],
    ['2021-08-13', '삼성전자', 74400],
    ['2021-08-12', 'LG전자', 153000],
    ['2021-08-13', 'LG전자', 150500],
    ['2021-08-12', 'SK하이닉스', 100500],
    ['2021-08-13', 'SK하이닉스', 101500]
]

columns = ['날짜', '종목명', '종가']
df = DataFrame(data = data, columns = columns)
print(df) 
pd.pivot(data = df, index = '날짜', columns = '종목명', values = '종가') # df의 날짜 = index, 종목명 = 컬럼, 종가 = 값
df.groupby(['날짜', '종목명']).mean().unstack() # 윗줄과 똑같은 결과 
pd.pivot(data = df, index = '종목명', columns = '날짜', values = '종가')

           날짜     종목명      종가
0  2021-08-12    삼성전자   77000
1  2021-08-13    삼성전자   74400
2  2021-08-12    LG전자  153000
3  2021-08-13    LG전자  150500
4  2021-08-12  SK하이닉스  100500
5  2021-08-13  SK하이닉스  101500

날짜      2021-08-12  2021-08-13
종목명
LG전자        153000      150500
SK하이닉스      100500      101500
삼성전자         77000       74400

In [9]:
# melt

from pandas import DataFrame

data = [
    ['005930', '삼성전자', 75800, 76000, 74100, 74400],
    ['035720', '카카오', 147500, 147500, 144500, 146000],
    ['000660', 'SK하이닉스', 99600, 101500, 98900, 101500]
]

columns = ['종목코드', '종목명', '시가', '고가', '저가', '종가']
df = DataFrame(data = data, columns = columns)
print(df)

print(df.melt()) # 컬럼과 연관된 값이 variable과 value 컬럼으로 재구성 (stack 메소드를 호출하고 인덱스를 reset한것과 비슷한 결과)
print(df.melt(id_vars = ['종목코드', '종목명'])) # 모든값이 value로 변경되지 않게 id_vars 파라미터 사용
print(df.melt(value_vars = ['시가', '종가'])) # value_vars 파라미터 사용해서 지정된 컬럼만 값으로 출력

     종목코드     종목명      시가      고가      저가      종가
0  005930    삼성전자   75800   76000   74100   74400
1  035720     카카오  147500  147500  144500  146000
2  000660  SK하이닉스   99600  101500   98900  101500
   variable   value
0      종목코드  005930
1      종목코드  035720
2      종목코드  000660
3       종목명    삼성전자
4       종목명     카카오
5       종목명  SK하이닉스
6        시가   75800
7        시가  147500
8        시가   99600
9        고가   76000
10       고가  147500
11       고가  101500
12       저가   74100
13       저가  144500
14       저가   98900
15       종가   74400
16       종가  146000
17       종가  101500
      종목코드     종목명 variable   value
0   005930    삼성전자       시가   75800
1   035720     카카오       시가  147500
2   000660  SK하이닉스       시가   99600
3   005930    삼성전자       고가   76000
4   035720     카카오       고가  147500
5   000660  SK하이닉스       고가  101500
6   005930    삼성전자       저가   74100
7   035720     카카오       저가  144500
8   000660  SK하이닉스       저가   98900
9   005930    삼성전자       종가   74400
10  035720     카카오       종가  146000
11  000660  SK하이닉스       종가  101500
  variable   value
0       시가   75800
1       시가  147500
2       시가   99600
3       종가   74400
4       종가  146000
5       종가  101500

In [24]:
# 파일 저장하기

from pandas import DataFrame

data = {
    '종목명' : ['3R', '3SOFT', 'ACTS'],
    '현재가' : [1510, 1790, 1185],
    '등락률' : [7.36, 1.65, 1.28]
}

df = DataFrame(data, index = ['037730', '036360', '005760'])

df.to_csv('data.csv', encoding='utf-8-sig') # 현재 실행되는 디렉터리에 CSV파일 생성

import os
if not os.path.isdir('abc') :
    os.mkdir('abc') # os 모듈 사용해서 폴더 존재유무 확인 후 abc폴더 생성
df.to_csv('abc/data.csv', encoding='utf-8-sig' ) # abc폴더안에 data.csv파일 생성

df.to_excel('data.xlsx') # 현재 실행되는 디렉터리에 xlsx파일 생성
df.to_excel('data2.xlsx', sheet_name='종목정보') # 엑셀 시트의 이름 종목정보로 변경
df.to_excel('data3.xlsx', index=False) # 인덱스를 제외하고 파일로 저장하려면 index=False 사용
df.to_excel('data4.xlsx', header=False) # 컬럼명 생략하고 싶다면 header=False 사용

In [45]:
# 파일 불러오기

import pandas as pd

df = pd.read_excel('code.xlsx') # read_excel 함수로 code.xlsx파일 읽기
df

df = pd.read_excel('code.xlsx', index_col = 'cd') # 엑셀파일을 읽을때 index_col 파라미터로 인덱스로 사용할 컬럼 설정 (왼쪽부터 0으로 숫자로도 설정가능 - index_col = 1)
print(df)

df = pd.read_excel('code.xlsx', index_col = 'cd', usecols=[1,2,3]) # 불필요한 컬럼 제거(unnamed - 0이므로 usecols로 1,2,3 번째 컬럼만 사용)
print(df)

df = pd.read_excel('code2.xlsx', header=2, index_col = 'cd', usecols=[1,2,3]) # code2.xlsx파일에는 맨위 두개의행이 원하지 않는 데이터이므로 headr파라미터로 2번 행부터 데이터를 읽으라는 의미(0부터시작하므로 세번째행)
print(df)

df = pd.read_csv('magic.csv', encoding = 'cp949') # csv파일 불러오기 (header,index_col,usecols 사용가능)
print(df)

df = pd.read_csv('magic.csv', dtype = {'code' : str}, encoding = 'cp949') # 만약 001800에서 1800만 출력될경우 dtype = {'컬럼명' : 타입} 지정해서 불러오기 
print(df)

         Unnamed: 0      nm   gb
cd
A060310           0      3S  701
A095570           1  AJ네트웍스  701
A006840           2   AK홀딩스  701
A054620           3  APS홀딩스  701
A265520           4   AP시스템  701
...             ...     ...  ...
A189980        2561  흥국에프엔비  701
A000540        2562    흥국화재  701
A003280        2563    흥아해운  701
A037440        2564      희림  701
A238490        2565      힘스  701

[2566 rows x 3 columns]
             nm   gb
cd
A060310      3S  701
A095570  AJ네트웍스  701
A006840   AK홀딩스  701
A054620  APS홀딩스  701
A265520   AP시스템  701
...         ...  ...
A189980  흥국에프엔비  701
A000540    흥국화재  701
A003280    흥아해운  701
A037440      희림  701
A238490      힘스  701

[2566 rows x 2 columns]
             nm   gb
cd
A060310      3S  701
A095570  AJ네트웍스  701
A006840   AK홀딩스  701
A054620  APS홀딩스  701
A265520   AP시스템  701
...         ...  ...
A189980  흥국에프엔비  701
A000540    흥국화재  701
A003280    흥아해운  701
A037440      희림  701
A238490      힘스  701

[2566 rows x 2 columns]
     code    name    ROIC  EV/EBITDA
0  187660  에디엠코리아  2110.7       0.02
1  227420   도부마스크   394.7       1.23
2  225220    제놀루션   333.9       2.40
3    1880    DL건설   344.8       3.15
     code    name    ROIC  EV/EBITDA
0  187660  에디엠코리아  2110.7       0.02
1  227420   도부마스크   394.7       1.23
2  225220    제놀루션   333.9       2.40
3    1880    DL건설   344.8       3.15