In [26]:
# Timestamp

import pandas as pd

# to_datetime
ts = pd.to_datetime('2021-01-02') # to_datetiome 함수로 문자열을 Timestamp 객체로 변환
print(type(ts))
print(ts)

ts = pd.to_datetime('2021-01-02 090000') # 시/분/초 지정 가능 (09:00:00과 같음)
print(ts)

print(pd.to_datetime('06/07/20', format="%d/%m/%y")) # format 파라미터로 형태 지정

ts = pd.to_datetime('2021-08-14')
print(ts.year, ts.month, ts.day, ts.hour, ts.minute, ts.second) # Timestamp 객체 값 꺼내오기

# Timestamp의 메소드
print(ts.weekday()) # 요일 정보를 숫자로 반환 (월:0, 화:1, ... 일:6)
print(ts.strftime("%y-%m-%d")) # 문자열로 변경(구분자 지정 가능(-))

# Timedelta(날짜 계산)
diff = pd.Timedelta(days = 100, hours = 2, minutes = 30, seconds = 30) # Timedelta 객체로 날짜의 차이를 표현
print(diff)
print(ts + diff) # 100일 2시간 30분 30초 뒤의 시간 계산

# 리스트 to_datetime
cadidates = ['2021-01-01', '2021-01-02', '2021-01-01'] 
idx = pd.to_datetime(cadidates) # 리스트에 저장된 모든 문자열을 Timestamp 객체로 변경 -> DatetimeIndex 객체에 값 저장
print(idx)
print(idx[0])
print(idx[0:2]) # 인덱싱과 슬라이싱 지원
print(idx.year)
print(idx.month) # 연/월/일/시/분/초 정보 한번에 출력 가능

# 유닉스 시간(에포크) 변환
dt = pd.to_datetime(1771576413, unit = 's') # s : second
print(dt)

# 예제
data = [
    [100, 110, 90, 105],
    [100, 112, 80, 95],
    [99, 115, 70, 85],
    [70, 80, 60, 75]
]
columns = ['시가', '고가', '저가', '종가']
index = ['20200615', '20200616', '20200717', '20200718']

df = pd.DataFrame(data, index, columns)
print(df)
# 2020년 6월의 데이터를 확인하고 싶은 경우
df.index = pd.to_datetime(df.index) # 인덱스인 문자열을 timestamp 객체로 변경
print(df)
print(df.loc['2020-06']) # 대시(-) 필수, 문자열일땐 불가능
df['date'] = df.index # DatetimeIndex를 date컬럼으로 저장
print(df)
print(df['date'].dt.year) # 문자열에는 str을 사용하는 것처럼 날짜에 dt속성 사용

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2021-01-02 00:00:00
2021-01-02 09:00:00
2020-07-06 00:00:00
2021 8 14 0 0 0
5
21-08-14
100 days 02:30:30
2021-11-22 02:30:30
DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-01'], dtype='datetime64[ns]', freq=None)
2021-01-01 00:00:00
DatetimeIndex(['2021-01-01', '2021-01-02'], dtype='datetime64[ns]', freq=None)
Index([2021, 2021, 2021], dtype='int32')
Index([1, 1, 1], dtype='int32')
2026-02-20 08:33:33
           시가   고가  저가   종가
20200615  100  110  90  105
20200616  100  112  80   95
20200717   99  115  70   85
20200718   70   80  60   75
             시가   고가  저가   종가
2020-06-15  100  110  90  105
2020-06-16  100  112  80   95
2020-07-17   99  115  70   85
2020-07-18   70   80  60   75
             시가   고가  저가   종가
2020-06-15  100  110  90  105
2020-06-16  100  112  80   95
             시가   고가  저가   종가       date
2020-06-15  100  110  90  105 2020-06-15
2020-06-16  100  112  80   95 2020-06-16
2020-07-17   99  115  70   85 2020-07-17
2020-07-18   70   80  60   75 2020-07-18
2020-06-15    2020
2020-06-16    2020
2020-07-17    2020
2020-07-18    2020
Name: date, dtype: int32

In [86]:
# 시계열 데이터 활용

import pandas as pd

# 삼성전자 데이터 불러오기
df = pd.read_excel('data.xlsx', index_col = 0)

# 문자열을 timestamp로 변경, 정렬
df.index = pd.to_datetime(df.index)
df = df.sort_index()

# parse_dates 파라미터
df = pd.read_excel('data.xlsx', parse_dates=['일자'])
df = df.sort_values('일자')
print(df['일자'].dtype)
print(type(df['일자'].iloc[0])) 
print(df['일자'].dt.quarter) # dt 속성 사용, quarter : 1분기/2분기/3분기/4분기로 구분

# 월별로 시가/고가/저가/종가 정리
df = df[['일자', '시가', '저가', '고가', '종가']].copy()
df['year'] = df['일자'].dt.year
df['month'] = df['일자'].dt.month # 연도와 월 추출해서 컬럼에 추가
gb = df.groupby(['year', 'month']) # year과 month 컬럼 기준으로 그룹화
print(gb.get_group((2026, 2)).head()) # get_group으로 값 특정

# agg 메소드 
how = {
    '시가' : 'first',
    '저가' : 'min',
    '고가' : 'max', 
    '종가' : 'last'
}
print(gb.agg(how))

# Grouper 클래스로 간소화
df.groupby(pd.Grouper(key = '일자', freq = 'ME')).agg(how) # freq ='ME' : 월별로 데이터를 분류하라는 의미(주:w, 일:d 옵션 사용 가능)

datetime64[ns]
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
121    3
120    3
119    3
118    3
117    3
      ..
4      1
3      1
2      1
1      1
0      1
Name: 일자, Length: 122, dtype: int32
           일자      시가      저가      고가      종가  year  month
11 2026-02-02  155700  150400  159600  150400  2026      2
10 2026-02-03  157900  157200  167500  167500  2026      2
9  2026-02-04  163500  163100  169400  169100  2026      2
8  2026-02-05  162000  158500  164000  159300  2026      2
7  2026-02-06  154100  151600  160300  158600  2026      2
                시가      저가      고가      종가
year month
2025 8       70100   69400   71900   69700
     9       68400   67500   86200   83900
     10      84900   84700  108600  107500
     11     106900   94500  112400  100500
     12     102000   99900  121200  119900
2026 1      120200  120200  166600  160500
     2      155700  150400  190900  190100

C:\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

                시가      저가      고가      종가
일자
2025-08-31   70100   69400   71900   69700
2025-09-30   68400   67500   86200   83900
2025-10-31   84900   84700  108600  107500
2025-11-30  106900   94500  112400  100500
2025-12-31  102000   99900  121200  119900
2026-01-31  120200  120200  166600  160500
2026-02-28  155700  150400  190900  190100